<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gacha.model.dao.BoardDao">
<insert id="insert" parameterType="map">
        INSERT INTO boards (
            uploader_id,
            title,
            content,
            created_at,
            category
        ) VALUES (
            #{userId},
            #{boardDto.title},
            #{boardDto.content},
            NOW(),
            #{boardDto.category}
        )
</insert>
</mapper>