<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gacha.model.dao.UserDao">
    <insert id="regist" parameterType="com.gacha.model.dto.user.UserDto" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (email, password, nickname, profile_img, role)
        VALUES (#{email}, #{password}, #{nickname}, #{profileImg}, 1)
    </insert>

    <resultMap id="userResultMap" type="com.gacha.model.dto.user.UserDto">
      <id property="userId" column="user_id"/>
      <result property="email" column="email"/>
      <result property="password" column="password"/>
      <result property="nickname" column="nickname"/>
      <result property="profileImg" column="profile_img"/>
      <result property="role" column="role"/>
      <result property="createdAt" column="created_at"/>
      <result property="updatedAt" column="updated_at"/>
      <result property="deletedAt" column="deleted_at"/>
      <result property="isDelete" column="is_delete"/>
    </resultMap>
    <select id="selectByEmail" resultMap="userResultMap">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <select id="selectByUserId" resultMap="userResultMap">
        SELECT * FROM users WHERE user_id = #{userId}
    </select>
    
    <select id="selectUserStatsByUserId" resultType="com.gacha.model.dto.user.UserStat">
        SELECT 
            DATEDIFF(NOW(), created_at) as joinDays,
            (SELECT COUNT(*) FROM trip_schedule WHERE user_id = #{userId}) as scheduleCount,
            (SELECT COUNT(*) FROM bookmarks WHERE user_id = #{userId}) as spotCount,
            (SELECT COUNT(*) FROM boards WHERE uploader_id = #{userId} AND is_deleted = false) as postCount
        FROM users 
        WHERE user_id = #{userId}
    </select>

    <update id="update">
        UPDATE users
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="profileImg != null">
                profile_img = #{profileImg},
            </if>
            updated_at = NOW()
        </set>
        WHERE user_id = #{userId}
    </update>
</mapper>